In [17]:
import pandas as pd
import gspread 
from oauth2client.service_account import ServiceAccountCredentials

In [18]:
scope = ['https://spreadsheets.google.com/feeds'] 
credentials = ServiceAccountCredentials.from_json_keyfile_name('./service_cred.json', scope)
gc = gspread.authorize(credentials)

In [19]:
spreadsheet_key = '1M1dnm5a9dyGdc5Mb4DMd2KgI_OXaHaCrWFggfDu3axA' 
book = gc.open_by_key(spreadsheet_key) 
worksheet = book.worksheet("AMZN") 
table = worksheet.get_all_values()

In [23]:
##Convert table data into a dataframe 
df = pd.DataFrame(table[1:], columns=table[0]) 
# ##Only keep columns we need 
df.columns = ['Date',"AMZN", "Date2", "AMD", "Date3", "GOOG"]
# ##Convert number strings to floats and ints 
# df = df.apply(pd.to_numeric, errors='ignore') 
# ##Convert date strings to datetime format 
# df['Date'] = pd.to_datetime(df['Date'],infer_datetime_format=True)


# df['Start Date'] = pd.to_datetime(df['Start Date'],infer_datetime_format=True)
df.head()

,Date,AMZN,Date2,AMD,Date3,GOOG
0,1/4/2021 16:00:00,159.33,1/4/2021 16:00:00,92.3,1/4/2021 16:00:00,1728.24
1,1/5/2021 16:00:00,160.93,1/5/2021 16:00:00,92.77,1/5/2021 16:00:00,1740.92
2,1/6/2021 16:00:00,156.92,1/6/2021 16:00:00,90.33,1/6/2021 16:00:00,1735.29
3,1/7/2021 16:00:00,158.11,1/7/2021 16:00:00,95.16,1/7/2021 16:00:00,1787.25
4,1/8/2021 16:00:00,159.14,1/8/2021 16:00:00,94.58,1/8/2021 16:00:00,1807.21